<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estructura.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Tooltime - Se recepciono su respuesta</title>
</head>
<body>
    <header class="header">
        <b>
        <a href="index.html">| Inicio |</a>
        <a href="agricola.html">| Agrícola |</a>
        <a href="construccion.html">| Construcción |</a>
        <a href="mineria.html">| Minería |</a>
        <a href="energia.html">| Energía |</a>
        <a href="soluciones.html">| Soluciones Viales |</a>
        <a href="otros.html">| Otros |</a>
        </b>
    </header>
    <main>
        <section>
            <h2>Se recepciono su respuesta, espere mientras le respondemos por su correo electrónico c;</h2>

        </section>
    </main>

    <footer id="contacto_jma">
        <p>Somos JMA-TOOLTIME</p>
    </footer>
    </body>
    </html>